$gold1: #f6e6bb;
$gold2: #d8b066;
$gold3: #a27839;
$otherText: #6c757d;
$body-bg: #000;
$headings-color: $gold3;
$hr-color: $gold1;

$input-color: $otherText;
$form-label-color: $otherText;
$form-text-color: $otherText;
$input-placeholder-color: $otherText;

$input-focus-border-color: $gold2;
$input-focus-color: $gold1;
$input-focus-box-shadow: $gold3;


@import '~bootstrap/scss/bootstrap.scss';
@import "~react-image-gallery/styles/scss/image-gallery.scss";


.featurette-divider {
  margin: 5rem 0;
}
  
.dropdown:hover .dropdown-menu {
  display: block;
}

.text-body-secondary {
  color: $gold2 !important;
}

p {
  color: $gold1;
}

.nav-link {
  color: $gold3 !important;
}

.imgInBoxes {
  box-shadow: 9px -10px 28px -7px rgba(162,120,57,0.76);
  -webkit-box-shadow: 9px -10px 28px -7px rgba(162,120,57,0.76);
  -moz-box-shadow: 9px -10px 28px -7px rgba(162,120,57,0.76);
  width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Old Standard TT", Sans-serif;
}

ul, li {
  color: $gold1;
}

#phoneNum {
  color: $gold2;
  text-decoration: none;
}